* {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: #fafafa;
    display: flex;
    justify-content: center;
}

.header {
    background-color: #ec362d;
    font-size: 37px;
    font-weight: 700;
    color: white;
    height: 69px;
    width: 100%;
    text-align: center;
    padding-top: 13px;
    position: fixed;
    top: 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 10;
}

/* -----------------------tela1------------------------- */

.tela1 {
    width: 100%;
    max-width: 1051px;
    margin-left: 17px;
    margin-right: 17px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    align-items: center;
    gap: 48px;
    padding-top: 146px;
}

.nenhumQuizz {
    width: 100%;
    height: 181px;
    border-radius: 5px;
    border: 1px dashed #d4d4d4;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #b9b9b9;
    font-size: 20px;
    line-height: 23px;
}

.nenhumQuizz p {
    padding-top: 30px;
}

.nenhumQuizz button {
    height: 40px;
    width: 151px;
    color: #ec362d;
    border: 1px dashed #ec362d;
    border-radius: 50px;
    font-size: 20px;
    background-color: inherit;
    margin-top: 24px;
}
.nenhumQuizz button:hover {
    cursor: pointer;
    background-color: #ec362d;
    color: white;
    border: 1px dashed white;
}

.seusQuizzes {
    width: 100%;
}

.seusQuizzes ion-icon {
    font-size: 37px;
    color: #ec362d;
    position: relative;
    top: -8px;
    left: 15px;
}

.seusQuizzes button {
    border: none;
    border-radius: 32px;
}

.headline {
    width: 100%;
    display: flex;
    font-size: 20px;
    font-weight: 700;
}

.todosQuizzes {
    width: 100%;
}

.containerQuizzes {
    width: 100%;
    min-height: 181px;
    display: flex;
    flex-wrap: wrap;
    color: #b9b9b9;
    font-size: 20px;
    margin-top: 10px;
}

.caixaQuizz {
    height: 181px;
    width: 340px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    margin-bottom: 10px;
}

.tituloQuizz {
    color: white;
    font-size: 19px;
    font-weight: 400;
    height: 54px;
    position: relative;
    top: -40px;
    left: 10px;
    z-index: 2;
}

.thumbnailQuizz {
    width: 100%;
    height: 181px;
    border-radius: 5px;
    object-fit: cover;
}

.gradientOverlay {
    position: absolute;
    height: 181px;
    width: 340px;
    border-radius: 5px;
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
}

 /* ------------------------------------------------------ */
 
 .tela2{
    width: 100%;
 }

 .imagem-cabecalho img{
    width: 100%;
    height: 227px;
    object-fit: cover;
    position: relative;
 }

 .imagem-cabecalho span{
    color: #FFFFFF;
    font-size: 39px;
    font-weight: 400;
  
    
    position: absolute;
    top: 125px;
    left: 20%;
    
 }
 .mascara-cabecalho{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 227px;
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 60%);
 }
.container-perguntas{
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
 .titulo-pergunta{
    width: 100%;
    height: 138px;
    margin-top: 60px;
    background-color: #434CA0;

    font-size: 23px;
    font-weight: 700;
    line-height: 130px;
    text-align: center;
    color: #FFFFFF;
 }
 .caixa-questoes{
    width: 100%;
    margin-top: 15px;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
 }
 .caixa-questoes img{
   width: 329px;
   height: 175px;
   border-radius: 1px;
 }
 .selecionar-questao{
    display: flex;
    flex-direction: column;
 }
 .selecionar-questao span{
    line-height: 40px;
    font-size: 20px;
    font-weight: 700;
 }
 .acertou{
    color:#009C22;
 }
 .errou{
    color: #FF4B4B;
 }
 .esbranquicado{
    opacity: 0.5;
 }

 .finalizacao-quiz{
    width: 50%;
    margin: 70px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }
 .pontuacao{
    width: 100%;
    height: 99px;
    background-color: #EC362D;

    color: #FFFFFF;
    font-size: 23px;
    font-weight: 700;
    text-align: center;
    line-height: 100px;
    
 }
 .cont-descricao{
    width: 100%;
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
 }
 .cont-descricao img{
    width: 55%;
    height: 45vh;
 }
 .cont-descricao span{
    font-size: 19px;
    font-weight: 700;
    width: 43%;
    line-height: 25px;
 }

 .reiniciar{
    cursor: pointer;
    width: 260px;
    height: 52px;
    border: none;
    background-color: #EC362D;
    border-radius: 15px;
    margin: 70px 0  20px;
    color: #FFF5F4;
    font-size: 21px;
    font-weight: 400;
 }
 .voltar-home{
    color: #818181;
    font-size: 21px;
    font-weight: 400;
 }
 /* ------------------------------------------------------ */

.tela3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.titulo{
    height: 23px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    justify-content: space-around;

    color: #000000;

    padding: 33px;
}

.inputs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: #FFFFFF;
    width: 100%;
    padding: 15px;

   
}

.input{
    box-sizing: border-box;

    width: 341px;
    height: 46px;

    margin-top: 6px;
    margin-bottom: 3px;

    font-family: 'Roboto';
    font-weight: 400;
    font-size: 19px;
    line-height: 22px;

    color: #000000;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 5px;

}
ion-icon{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.aba{
    width: 100%;
    height: 74px;

    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;

    margin-top: 23px;

    
}
.BotaoVermelho{
    width: 323px;
    height: 54px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;

    color: #FFF5F4;
    background: #EC362D;
    border-radius: 15px;

    cursor: pointer;

    margin: 30px 25px 30px 25px;
}
.Texto_Cinza{
    
    height: 44px;

    margin: auto;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;

    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
    cursor: pointer;

    color: #818181;

}

.centralizar{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: auto;
}

.pag3_2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.escondido{
    display: none;
}